<div>
    <h3 style="text-align:center;">Customer Personal Details</h3>
    <table>
        <thead>
            <tr>
                <th>Customer Id</th>
                <th>Customer First Name</th>
                <th>Customer Last Name</th>
                <th>Customer Mobile Number</th>
                <th>Customer Email Id</th>
                <th>Customer PanCard</th>
                <th>Customer Income Certificate</th>
                <th>Customer Adhar Card</th>
                <th>Customer Profile Photo</th>
                <th>Customer Signature</th>
                <th>Customer Bank Passbook</th>
                <th>Customer Document Status</th>
                <th colspan="4">Document Verification</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let a of viewCustomer">
                <td>{{ a.customerApplicationId}}</td>
                <td>{{ a.customerFirstName}}</td>
                <td>{{ a.customerLastName}}</td>
                <td>{{ a.customerMobileNumber}}</td>
                <td>{{a.customerEmail}}</td>
                <td>
                <img [src]="'data:image/jpeg;base64,'+a.customerAllDocuments.panCard" height="75px" width="75px">
                </td>
                <td>
                    <img [src]="'data:image/jpeg;base64,'+a.customerAllDocuments.incomeProof" height="75px" width="75px">
                    </td>
                    <td>
                    <img [src]="'data:image/jpeg;base64,'+a.customerAllDocuments.aadharCard" height="75px" width="75px">
                    </td>
                    <td>
                    <img [src]="'data:image/jpeg;base64,'+a.customerAllDocuments.photo" height="75px" width="75px">
                    </td>
                    <td>
                    <img [src]="'data:image/jpeg;base64,'+a.customerAllDocuments.signature" height="75px" width="75px">
                    </td>
                    <td>
                    <img [src]="'data:image/jpeg;base64,'+a.customerAllDocuments.bankPassBook" height="75px" width="75px">
                    </td>
                    <td>{{a.customerdocstatus}}</td>
                    <td>
                        <div>
                        <label class="from-label" for="Approved" style="width: 70px;">Approved</label>
                        <span><input type="radio" id="doc" value="Approved" name="satus" formControlName="customerdocstatus" ></span>
                        
                        <label class="from-label" for="Rejected" style="width: 70px;">Rejected</label>
                        <span><input type="radio" id="doc" value="Rejected" name="satus" formControlName="customerdocstatus"></span>
                    </div>
                    </td>
                    <td><button type="button" (click)="oneditDoc(a)">Submit</button>&nbsp;&nbsp;&nbsp;&nbsp;
                    <button type="button" (click)="onViewDocuments(a.customerApplicationId)">View</button></td>
                    <td><button class="btn" (click)="sendApprovedDocMail(a)">Send <i class="fa fa-envelope-o" aria-hidden="true"></i></button></td>
            </tr>
        </tbody>
    </table>
</div>