<div align="center">
    <div class="d-flex" >
        <div class="paa">
            <h2 style="color: rgb(77, 77, 234);padding-top: 20px;text-align: center;">Contact Us</h2>
            <p style="text-align:center;width: 650px;">
                <b>State Bank of India</b> has an extensive administrative structure to oversee
                the large network of branches in India and abroad. The Corporate Centre is
                in Mumbai and 17 Local Head Offices and 101 Zonal Offices are located at
                important cities spread throughout the country. The Corporate Centre has
                several other establishments in and outside Mumbai, designated to cater to
                various functions. Our Colleges/Institutes/Training Centres are the seats of
                learning and research and development to spread the wings of knowledge not
                only to our employees but also other banks/establishments in India and abroad.
            </p>
            <p style="text-align:start;width: 650px;">
                The Corporate Accounts Group is a Strategic Business Unit of the Bank set up
                exclusively to fulfil the specialised banking needs of top corporates in the country.
            </p>
            <p style="text-align:justify;width: 650px;">
                State Bank of India has 227 foreign offices/branches in 30 countries across
                the globe as on 31.03.2022.
            </p>
            <p style="text-align:justify;width: 650px;">
                State Bank of India invites you to take a journey to understand the potential of
                not just a large but truly global organisation.
            </p>
            <p style="color: rgb(69, 69, 235);"><b>" Click here for Contact Center (SBI helpline) Services"</b></p>
            <p style="text-align:justify;width: 650px;">
                <b>Pensioners Helpline:- </b>Please call SBI's 24X7 Toll free telephone number <b>1800110009</b>
                dedicated for pensioners or Toll free telephone number <b>18004253800 & 1800112211</b> .
            </p>
        </div>
        <div class="ppa">
            <img src="assets/image77665.avif" height="500px" width="600px">
        </div>
    </div>




</div>