<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="true">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/images11.jpg" height="350px" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="assets/images33.jpg" height="350px" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="assets/images444.jpg" height="350px" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="assets/images2222.jpg" height="350px" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<hr>
<!--starting image side paragraph form here-->
<div class="container">
  <div class="row">
    <div class="col">
      <!--Image Side text-->
      <div>
        <h1 style="padding-left:3%;"><b>About Our Home Loan Application</b></h1>
        <h3 style="color: rgb(50, 159, 202);padding-left: 5%;">Home Loan</h3>
        <p style="margin-top:30px;">
          <b>SBI Home Loans is the largest Mortgage Lender in India,
          which has helped over 30 lakh families to achieve the dream of owning a home.</b>
        </p>
        <i class="fa fa-check-circle-o" aria-hidden="true"></i> Transparency <br>
        <i class="fa fa-check-circle-o" aria-hidden="true"></i> Trust<br>
        <i class="fa fa-check-circle-o" aria-hidden="true"></i> Integrity<br>
        <i class="fa fa-check-circle-o" aria-hidden="true"></i> Excellence<br>
        <b style="color: #2493be;">Value to Customers</b><br>
        <i class="fa fa-check-circle-o" aria-hidden="true"></i> Interest Calculation on Daily Reducing Balance<br>
        <i class="fa fa-check-circle-o" aria-hidden="true"></i> Wide Product Range<br>
        <i class="fa fa-check-circle-o" aria-hidden="true"></i> Overdraft Facility available<br>
        <i class="fa fa-check-circle-o" aria-hidden="true"></i> Low Interest Rates<br>
        <i class="fa fa-check-circle-o" aria-hidden="true"></i> Low Processing Fees<br>
        <i class="fa fa-check-circle-o" aria-hidden="true"></i> No Hidden Costs<br>
        <i class="fa fa-check-circle-o" aria-hidden="true"></i> No Pre-payment penalty<br>
        <!-- <b style="color: #2493be;">Our Presence</b><br>
        <i class="fa fa-check-circle-o" aria-hidden="true"></i> 24,000+ branches<br>
        <i class="fa fa-check-circle-o" aria-hidden="true"></i> 1600+ member strong dedicated Sales Team<br> -->

      </div>
    </div>
    <!--Image uploaded on about page-->
    <div class="col" style="margin-top: 35px;">
      <img src="assets/image66.jpg" height="400px" width="500px">
    </div>
  </div>

  <div style="display: flex;" class="mt-4 justify-content-center">
 <div style="width: 50%; ">
 <!-- <video src="../assets/video.mp4" autoplay height="375px" width="500px"></video> -->
 </div>
  </div>
  

  <div class="d1">
    <h2>OUR</h2>
    <h3 style="font-weight:350;">Features & Benefits</h3>
    <div class="d2">
      <div align="center">
        <i class="fa fa-gift bg-primary fa-3x " aria-hidden="true" style=" padding:15px; border-radius: 50%;color: white;"></i>
        <pre>
        packages of exclusive 
        benefits
        </pre>
     </div>
     <div align="center">
      <i class="fa fa-percent bg-warning fa-3x" aria-hidden="true" style=" padding:15px; border-radius: 50%;color: white;"></i>
      <pre>
      low interest rates. Interest
      calculation on a daily Reducing 
      balance.
      </pre>
   </div>
      <div align="center">
         <i class="fa fa-inr bg-danger fa-3x" aria-hidden="true" style=" padding-left:27px; padding-right:27px; padding:15px;border-radius: 50%;color: white;"></i>
         <pre>
          Home Loan also available 
          an overdraft.Optimally utilize
          your surplus funds.
         </pre>
      </div>
      <div align="center">
        <i class="fa fa-cog bg-info fa-3x" aria-hidden="true" style=" padding:15px; border-radius: 50%;color: white;"></i>
        <pre>
         low Processing charges.
         No hidden costs.
        </pre>
     </div>
     <div align="center">
      <i class="fa fa-google-wallet bg-secondary fa-3x" aria-hidden="true" style=" padding:15px; border-radius: 50%;color: white;"></i>
      <pre>
       No prepayment penalties.
       Reduce your interest burden by
       prepaying the loan
      </pre>
   </div>
    </div>

  </div>
  <!-- blue box -->
     <div class="container">
      <div class="row">
        <div class="col">
          <pre class="fd">
            <h2 style="color: rgb(93, 93, 246);margin-top: 3opx;font-family: 'Times New Roman', Times, serif;text-align: center;">Features</h2>
          <i class="fa fa-check-circle-o" aria-hidden="true"></i>Home Loan products to suit every customers need<br>
          <i class="fa fa-check-circle-o" aria-hidden="true"></i>Low Interest Rates<br>
          <i class="fa fa-check-circle-o" aria-hidden="true"></i>Low Processing Fee<br>
          <i class="fa fa-check-circle-o" aria-hidden="true"></i>No Hidden Charges<br>
          <i class="fa fa-check-circle-o" aria-hidden="true"></i>No Pre Payment Penalty<br>
          <i class="fa fa-check-circle-o" aria-hidden="true"></i>Interest charges on Daily Reducing Balance<br>
          <i class="fa fa-check-circle-o" aria-hidden="true"></i>Repayment up to 30 years<br>
          <i class="fa fa-check-circle-o" aria-hidden="true"></i>Home Loan Available as Overdraft<br>
          <i class="fa fa-check-circle-o" aria-hidden="true"></i>Interest Concession for Women Borrowers<br>
        </pre>
        </div>
        <div class="col" style="text-align: center;">
          <pre class="fd">
            <h2 style="color: rgb(93, 93, 246) ;text-justify:distribute-all-lines;text-align: center;">Downloads</h2>
            <i class="fa fa-check-circle-o" aria-hidden="true"></i> Click here to download "Home Loans Application Form"<br>
            <i class="fa fa-check-circle-o" aria-hidden="true"></i>Click here to download "Terms and Conditions"<br>
            <i class="fa fa-check-circle-o" aria-hidden="true"></i> Interested in NRI Home Loans? Click here for contact list.<br>
            <i class="fa fa-check-circle-o" aria-hidden="true"></i> Click here to download "Home Loan Agreement"<br>
          </pre>
          
        </div>
      </div>
    </div>