<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-light gradient-custom" style="width:230vh;">
    
    <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent"> -->
        <a routerLink="about" id="navbarDropdownMenuAvatar"   >
            <img src="assets/SBI-logo.svg.png"  height="50" width="50" alt="Sbi bank logo"/> 
        </a>
        <!-- Left links -->
        <div class="d-flex">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link " routerLink="/dash/about">HomeLoan</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/dash/location">Location</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/dash/emicalculator">EMI Calculator</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/dash/login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/">Logout</a>
            </li>
        </ul>
    </div>
</nav>
        <!-- Left links -->
   
    <!-- Collapsible wrapper -->

    <!-- Right elements -->
    <!-- <div class="d-flex align-items-center">
        Icon 
        <a class="text-reset me-3" href="#">
            <i class="fas fa-shopping-cart text-white"></i>
        </a> -->

        <!-- Notifications -->
        <!-- <div class="dropdown">
            <a class="text-reset me-3 dropdown-toggle hidden-arrow" href="#" id="navbarDropdownMenuLink" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
                <i class="fas fa-bell text-white"></i>
                <span class="badge rounded-pill badge-notification bg-danger">1</span>
            </a>
            
        </div> -->
      
      <!-- </div> -->
   
<!-- </div> -->
