<footer class="text-center bg-body-tertiary">
    <!-- Grid container -->
    <div class="container pt-4">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a
          data-mdb-ripple-init
          class="btn btn-link btn-floating btn-lg text-body m-1"
          style="background-color: rgb(149, 149, 245);"
          href="https://www.facebook.com/StateBankOfIndia"
          role="button"
          data-mdb-ripple-color="dark">
          <i class="fa fa-facebook" aria-hidden="true"></i></a>
  
        <!-- Twitter -->
        <a
          data-mdb-ripple-init
          class="btn btn-link btn-floating btn-lg text-body m-1"
          style="background-color: rgb(149, 149, 245);"
          href="https://twitter.com/TheOfficialSBI"
          role="button"
          data-mdb-ripple-color="dark">
          <i class="fa fa-twitter" aria-hidden="true"></i></a>
  
        <!-- Google -->
        <a
          data-mdb-ripple-init
          class="btn btn-link btn-floating btn-lg text-body m-1"
          style="background-color: rgb(149, 149, 245);"
          href="#!"
          role="button"
          data-mdb-ripple-color="dark">
          <i class="fa fa-google" aria-hidden="true"></i></a>
  
        <!-- Instagram -->
        <a
          data-mdb-ripple-init
          class="btn btn-link btn-floating btn-lg text-body m-1" 
          style="background-color: rgb(149, 149, 245);" 
          href="https://www.instagram.com/theofficialsbi/"
          role="button"
          data-mdb-ripple-color="dark">
          <i class="fa fa-instagram" aria-hidden="true"></i></a>
  
        <!-- youtube -->
        <a
          data-mdb-ripple-init
          class="btn btn-link btn-floating btn-lg text-body m-1"
          style="background-color: rgb(149, 149, 245);"
          href="https://www.youtube.com/theofficialsbi"
          role="button"
          data-mdb-ripple-color="dark">
          <i class="fa fa-youtube" aria-hidden="true"></i></a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(137, 156, 203, 0.05);">
     State Bank Of India :
      <a class="text-body" href="http://localhost:4200/dash/equiryform">Apply Now</a>
    </div>
    <!-- Copyright -->
  </footer>
